<h2>Order Number: <%= @order.id %></h2>

<section id="shipping_information">
  <h1 align = "center">Shipping Info</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
    </tr>
    <tr>
      <td><p><%= @order.name %> </p></td>
      <td><p><%= @order.address %> </p></td>
      <td><p><%= @order.city %> </p></td>
      <td><p><%= @order.state %> </p></td>
      <td><p><%= @order.zip %> </p></td>
    </tr>
  </table>
</section>

<center>
<section id="item_information">
<h1 align = "center">Items in Order</h1>
  <table>
    <tr>
      <th>Image</th>
      <th>Item</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Fulfill</th>
    </tr>
    <% @item_orders.each do |item_order|%>
      <tr>
        <td><p><%=link_to item_order.item.name, "/items/#{item_order.item_id}"%></p></td>
        <td><p><%= image_tag item_order.item.image, style: "size: 10px;" %></p></td>
        <td><p><%= number_to_currency(item_order.price.to_f)%></p></td>
        <td><p><%= item_order.quantity%></p></td>
      </tr>
    <% end %>
  </table>
</section>
