<% @orders.each do |order| %>
  <h1 align = "center">Order Info</h1>
  <center>
  <table>
    <tr id="order_headers">
      <th>Order ID</th>
      <th>Order Date</th>
      <th>Last Updated</th>
      <th>Order Status</th>
      <th>Items In Order</th>
      <th>Order Grand Total</th>
    </tr>

    <tr id="order-<%= order.id %>">
      <td><p><%=link_to order.id, "/orders/#{order.id}"%></p></td>
      <td><p><%= order.created_at.to_date %></p></td>
      <td><p><%= order.updated_at.to_date %></p></td>
      <td><p><%= order.status %></p></td>
      <td><p><%= order.item_count %></p></td>
      <td><p>$ <%= number_with_precision order.grandtotal, precision: 2 %></p></td>
    </tr>
  </table>
<% end %>
