<% if @merchant %>
  <h1><%= link_to @merchant.name, "/merchants/#{@merchant.id}"%><span> Items</span></h1>
  <p align="center"><%= link_to "Add New Item", "/merchants/#{@merchant.id}/items/new" %></p>
<% else %>
  <h1>All Items</h1>
<% end %>
  <h3>Top 5 Most Popular Items: </h3>
  <section id="popular_items">
  <% @items.most_popular(5).each do |item| %>
    <%= item.name %>: <%= item.quantity_ordered %>
<% end %>
  </section>
<h3>Bottom 5 Least Popular Items:</h3>
<section id="not_popular">
<% @items.least_popular(5).each do |item| %>
   <%= item.name %>: <%= item.quantity_ordered %>
<% end %>
</section>

<section class="grid-container">
  <% @items.each do |item| %>
  <% if item.active? %>
    <section class = "grid-item" id= 'item-<%=item.id%>'>
      <h2> <%=link_to item.name, "/items/#{item.id}" %> </h2>
      <p>Sold by: <%=link_to item.merchant.name, "/merchants/#{item.merchant.id}" %></p>
      <section id= 'image-<%= item.id %>'>
      <p><%=link_to image_tag(item.image), "/items/#{item.id}" %></p>
      </section>
      <p> <%= item.description unless @merchant%> </p>
      <p>Price: <%=number_to_currency(item.price) %> </p>
      <p>Inventory: <%= item.inventory %> </p>
      <p>Active</p>
      <% if !@merchant %>
      <% end %>
    </section>
    <% end %>
    <% end %>
</section>
